body {
  height: 95vh;
  background: blue;
  min-width: 965px;
}

.carter-heads-content {
  padding: 3px;
  position: relative;
  height: 90%;
  border: 5px solid red;
  margin: 20px 40px 40px 40px;
}

.follower {
  position: absolute;
  top: 50px;
  left: 50px;
}

.carter-control {
  padding: 2px;
  position: absolute;
  color: black;
  font-size: 50px;
  z-index: 2;
  background: green;
  border: 2px solid yellow;
}

.carter-control:not(.disabled):hover {
  cursor: pointer;
  color: white;
}

.carter-control.disabled {
  cursor: not-allowed;
  background: gray;
}

.carter-addition {
  bottom: 5px;
  right: 5px;
}

.carter-change {
  top: 5px;
  left: 5px;
}

.carter-flop {
  bottom: 5px;
  left: 5px;
}

.carter-remove-boarder {
  top: 5px;
  right: 5px;
  display: none;
  background: orange;
}

.center-text {
  text: center;
  text-align: center;
}

.bio {
  background: red;
  font-size: 18px;
  padding: 10px;
  margin: 20px auto;
  text-align: left;
}

.bio-container {
  width: 500px;
  margin: 0 10px;
}

.side-bar {
  width: 200px;
  background: darkblue;
  padding: 5px 10px;
}

.side-bar img {
  margin-top: 10px;
}

.float-left { float: left; }
.float-right { float: right; }

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.main-content {
  max-width: 965px;
  width: auto;
  margin: auto;
}

.side-img {
  width: 95%;
}

.side-img.small {
  width: 80%;
}

.bio-container img.third {
  width: 30%;
}

.bio-container img.half {
  width: 45%;
}

.carter-range-multiplier {
  z-index: 3;
  position: absolute;
  bottom: 5px;
}

.extra-stuff {
  font-size: 18px;
  background: yellow;
}

.extra-stuff-container {
  margin-top: 5px;
}

.contact-me {
  margin: auto;
  width: 500px;
  border: 2px dashed white;
  background: orange;
  padding: 2px;
}

.footer {
  background: darkblue;
  margin-bottom: 10px;
  margin-left: -5px;
  margin-right: -5px;
}

.footer img {
  margin: 10px;
  height: 180px;
}

.not-selectable, img, .carter-control {
  user-drag: none;user-select: none;-moz-user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;
}

.flipped {
  transform: scale(-1, 1);-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);-khtml-transform: scale(-1, 1);-ms-transform: scale(-1, 1);
}

.flopped {
  transform: scale(1, -1);-moz-transform: scale(1, -1);-webkit-transform: scale(1, -1);-o-transform: scale(1, -1);-khtml-transform: scale(1, -1);-ms-transform: scale(1, -1);
}

.flipped.flopped {
  transform: scale(-1, -1);-moz-transform: scale(-1, -1);-webkit-transform: scale(-1, -1);-o-transform: scale(-1, -1);-khtml-transform: scale(-1, -1);-ms-transform: scale(-1, -1);
}
